<html>
	<head>
		<title>Rock Paper Scissors Lizard Spock</title>
		<link rel='stylesheet' type='text/css' href='css/application.css'>
	</head>
	<body>
		<h1>Rock Paper Scissors Lizard Spock</h1>
		<section class='choices'>
			<img id='rock' src='http://i.imgur.com/lGHZDFk.jpg'>
			<img id='paper' src='http://i.imgur.com/C8l9hX1.jpg'>
			<img id='scissors' src='http://i.imgur.com/GgaGtnl.jpg'>
			<img id ='lizard' src='http://i.imgur.com/mKeep.jpg'>
			<img id='spock' src='http://i.imgur.com/RpuaX6p.jpg'>
		</section>
		<h2 id='result'></h2>
		
	</body>
</html>